.create-char {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-icon {
    position: relative;
}

.input-icon input {
    padding-left: 30px;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 10px;
}

