@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.section-login {
    width: 100%; /* Ajuste a largura conforme necessário */
    background: rgba(15, 25, 49, 0.90);
    border-radius: 0px 0px 15px 15px;
}

.form-login {
    width: auto; /* Ajuste para controlar a largura do formulário */
}

.form-login .form-label {
    color: #FFF;
    font-family: 'Roboto Slab', serif;
}

.form-login .form-control {
    border-radius: 8px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-login .form-text {
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
}

.form-login .btn-warning {
    color: #383838;
    border-radius: 8px;
    border: 1px solid #DFB74E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Slab', serif;
}

.btn-warning:hover {
    background: #F6F6F6;
    color: #DFB74E;
    border: 1px solid #DFB74E;
}

.form-login .form-control:focus {
    box-shadow: 0 0 10px rgba(223, 183, 78, 0.5), 0 0 20px rgba(223, 183, 78, 0.5);
    outline: none;
}

.form-check-label {
    font-family: 'Roboto Slab', serif; 
    font-size: 0.8rem; 
}
