.main-section {
    background: linear-gradient(180deg, #000F33 0%, #162C62 50%, #162C62 69.27%, #171F31 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
}

.main-content {
    background-color:  #CDCDCD;
    max-width: 1200px;
    width: 100%;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.25), 7px 7px 10px rgba(0, 0, 0, 0.25);
    
}
