@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.bg-dark {
  background: linear-gradient(180deg, #162344 0%, #172549 80.12%, #0F1931 100%);
}

.header-ac .navbar{
  max-width: 1200px;
}

.header-ac .navbar-brand img {
  height: 40px; /* Ajuste conforme necessário */
}

.header-ac .nav-link {
  color: #C7915E !important;
}

.header-ac .navbar-text {
  color: #C7915E;
}

