@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');


.bg-dark {
    background: linear-gradient(180deg, #000F33 0%, #162C62 50%, #162C62 69.27%, #000F33 100%);
}

.header-padrao {
    max-width: 1200px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-padrao .navbar {
    max-width: 100%;
}

.header-padrao .navbar-brand img {
    height: 40px;
  
}

.header-padrao .nav-link {
    color: #C7915E !important;
}

.header-padrao .navbar-text {
    color: #C7915E;
}