@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Slab&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Slab', 'Open Sans',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  position: fixed;
  right: 0;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spinner-container {
  position: fixed; /* ou absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Garante que o spinner fique acima de outros elementos */
  background-color: rgba(48, 48, 48, 0.514);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  
}

