

#modalForgotPasswordForm .modal-header {
    background-color: #192147;
    color: #fff;
}

#modalForgotPasswordForm .modal-body {
    background-color: #E6E6E6;
}

#modalForgotPasswordForm .modal-footer {
    background-color: #E6E6E6;
}


#modalForgotPasswordForm .form-control:focus {
    box-shadow: 0 0 10px rgba(223, 183, 78, 0.5), 0 0 20px rgba(223, 183, 78, 0.5);
    outline: none;
}